{% extends 'moderntools_proj/base.html' %}
{% load static %}

{% block title %}

ModernTools | PDF Editor | Register

{% endblock title %}

{% block content %}

<main>
    <!-- Banner -->
    <section class=" bg-beta text-alpha-light pb-md-4 fade-in first-section">
        <div class="container pt-4">
            <div class="row p-4">
                <div class="col-md-12 col-12 align-self-center banner-head text-center">

                    <h3 class="font-alpha">Here you Go!</h3>
                    <p>Sign up now, and get ready to download MordernTools PDF editor. Exclusively to registered
                        users!</p>
                </div>
            </div>
        </div>
    </section>


    <!-- Register Form -->

    <section class=" bg-alpha text-alpha pb-4 text-alpha fade-in">
        {% include 'moderntools_proj/messages.html' %}

        <div class="container p-4">
            <div class="row pt-4 justify-content-evenly">
                <div class="col-10 align-self-center bg-alpha-light cus-form-card my-4 p-5">
                    <form class="row g-3" method="POST" action="{% url 'accounts:register' %}">
                        {% csrf_token %}
                        <div class="col-md-6">
                            <label for="inputfname" class="form-label">First Name</label>
                            <input name="firstname" type="text" class="form-control" id="inputfname">
                        </div>
                        <div class="col-md-6">
                            <label for="inputlname" class="form-label">Last Name</label>
                            <input name="lastname" type="text" class="form-control" id="inputlname">
                        </div>
                        <div class="col-md-12">
                            <label for="inputemail" class="form-label">Email Address</label>
                            <input name="email" type="email" class="form-control" id="inputemail">
                        </div>
                        <div class="col-md-12">
                            <label for="inputpass" class="form-label">Password</label>
                            <input name="password" type="password" class="form-control" id="inputpass">
                        </div>
                        <div class="col-md-12">
                            <label for="inputconfirmpass" class="form-label">Confirm Password</label>
                            <input name="confirm_password" type="password" class="form-control" id="inputconfirmpass">
                        </div>
                        <div class="col-12">
                            <input class="btn btn-primary btn-lg btn-alpha" type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>







</main>

{% endblock content %}