{% load static %}

<!-- Browsers instructions  -->

<div class="row pt-4 mt-4 justify-content-evenly browser-images">

    <div class="col-md-4 col-5 align-self-start text-center my-3">
        <img src="{% static 'images/downloadChrome.png' %}" alt="">
        <h5 class="font-alpha">
            Chrome
        </h5>
        <p> At the bottom of your browser window.</p>
    </div>
    <div class="col-md-4 col-5 align-self-start text-center my-3">
        <img src="{% static 'images/downloadFirefox.png' %}" alt="">
        <h5 class="font-alpha">
            Firefox
        </h5>
        <p> In your browser's toolbar.</p>
    </div>
    <div class="col-md-4 col-5 align-self-start text-center my-3">
        <img src="{% static 'images/downloadEdge.png' %}" alt="">
        <h5 class="font-alpha">
            Internet Explorer and Microsoft Edge
        </h5>
        <p>At the bottom of your browser window.</p>
    </div>
</div>