<!-- header -->



<section class=" bg-beta text-alpha-light pb-md-4 fade-in first-section">
    <div class="container pt-4">
        <div class="row p-4">
            <div class="col-md-12 col-12 align-self-center banner-head text-center">

                {% if user.is_authenticated %}

                <h3 class="font-alpha">Hello, {{user.first_name}}. Have some queries?</h3>
                <p>We are ready to answer your queries!</p>

                {% else %}

                <h3 class="font-alpha">Reach out to Us!</h3>
                <p>We are ready to answer your queries!</p>

                {% endif %}
            </div>
        </div>
    </div>
</section>